html, body {
    margin: 0;
    padding: 0;
}

.box{
width: 414px;
height: 896px;
background: linear-gradient(238.71deg, #BD00FF 7.63%, #00A3FF 117.53%), #FFFFFF;
display:grid;
 padding:12px 17px;
}
a{
    text-decoration:none;
}
.container{
    display:grid;
    grid-template-rows: auto 1fr;
    background: url("https://unsplash.com/photos/pVq6YhmDPtk"), #221F26;
    background-blend-mode: screen, normal;
    border-radius: 13px;
    display:relative;
    
}
.header{
    display:flex;
    width:50%; 
    padding:27px 10px;
}
.header #icon{
    margin-right:108px;
}
.header #logo{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 111.4%;

    /* identical to box height, or 27px */
    letter-spacing: -0.12em;

    color: #2D7DFF;
}
.header #icon:hover{
    transform:scale(1.3,1.3); 
}
#icon{
    margin-left:20px;
    margin-right:auto;
}
.popup{
    display:none;
}
/* side bar on the click of a humburger svg icon*/
.nav-container{
    width:213px ;
    height:896px;
    background-color: #2C2931;
    display:flex;
    flex-direction: column;
    position:absolute;
    top:12px;
    z-index:99;
    transition: 0.2s;
    transform: translateX(-130%);
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.sidebar-shown{
  transition-timing-function: ease-out;
  transition: 0.25s;
  transform: translateY(0);
} 
.nav-container img{
    width: 14px;
    margin:44.5px 0px 33.5px 45px;
    transform: rotate(180deg);
}
.nav-container nav{
    display:flex;
    flex-direction: column;
    width:100%;
    
    
}
.nav-container nav a{
    padding:14px 44px 12px 44px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 111.4%;

    /* or 18px */
    color: #FFFFFF;
}
.nav-container nav a:hover{
     background: #449700;
}
#active{
    background: #4497FF;
}

main{
    display:grid;
    align-items: center;
    
}
.content{
    
   width:331px;
   margin-left:41px 
}
.btn{
    padding:20px 24px;
    display:flex;
    width:223px;
    align-items: center;
    gap:16px;
    color:#ffffff;

}
.btn:hover{
    background-color: #00A3FF;  
}
.btn:active{
    transform: scale(1.3)
}
.btn span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 111.4%;

/* identical to box height, or 20px */

color: #FFFFFF;
}
.content #content-1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 89%;
    color: #FFFFFF;
}
#content-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 34px;
    line-height: 111.4%;
    color: #847D93;
}
.btn{
    border:1px solid grey;
    padding:20px 24px 20px 11px;
}

.btn:hover{
    background-color: #00A3FF;  
}
.btn:active{
    transform: scale(1.3)
}
@media only screen and (min-width:500px){
    .box{
        width: 100%;
        height:820px ;
        padding:74px; 
    }
    .box{
        display:grid;
        grid-template-columns: 213px 1fr;
    }
    .content{
   margin-left:0px;
   width:398px; 
}
    .container{
         border-top-left-radius: 0;
         border-bottom-left-radius: 0;
         display:flex;
         flex-direction: column;
         padding-left:103px;
         gap:46px;
         padding-top:57px;
         background: url("bg2jpg.jpg");
         background-size:cover;
         height: 664px;
         
    }
    .nav-container{
         transform: translateX(0%);
         position:static;
         border-top-left-radius: 13px;
         border-bottom-left-radius: 13px;
         top:0px;
         padding-top:57px;
         height: 664px;
    }
    #icon{
        display:none;
    }
    #logo{
        margin-left:0px
    }
    .header{
        padding:0px
    }
    .img-container{
        display:none
    }
    #content-1{
        font-size: 64px;
        line-height: 89%;
    }
    #content-2{
        font-size: 48px;
        line-height: 111.4%;
    }
}